<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>

    <%- include('../Partials/MainNav.ejs') %>


    <div class="container">
        <div class="row justify-content-md">
            
    <% for (var i=0; i < display.length ; i++) { %>
        <div class="col-md-auto">
        
            
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%= display[i].Pic %>" width="286" height="180" >
                    <div class="card-body">
                        <h5 class="card-title"><%= display[i].ProductName %></h5>
                        <p class="card-text">Description: <%= display[i].Description %></p>
                        <p class="card-text">Cost: <%= display[i].Cost %></p>
                        <p class="card-text">Amount: <%= display[i].amount %></p>
                        
                        <form action="/DeleteCart/<%= display[i].id %>" method="post">
                            <button type="submit">Remove from Cart</button>
                        </form>

                    </div>
                </div>
            
        </div>
    <% } %>
        
</div>
</div>


<% if(display.length > 0){ %>
    <form action="" method="">
        <button type="submit">Check out</button>
    </form>
<%}%>





    <%- include('../Partials/Footer.ejs') %>
</body>
</html>