<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
    

    <h2>Card</h2>

    <ul class="fullclick">
        <% for (var i=0; i < newListItems.length ; i++) { %>
            <li>
                <form action=""method="get">
                    <img src="<%= newListItems[i].Pic %>" >
                    <h2><%= newListItems[i].ProductName %></h2>
                    <h2><%= newListItems[i].Category %></h2>
                    <h2><%= newListItems[i].Description %></h2>
                    <h2><%= newListItems[i].Cost %></h2>
                </form>
            </li>
            <% } %>
        
      </ul>

</body>
</html>