<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <%- include('../Partials/MainNav.ejs') %>

    <nav class="">
        <a class="">All</a>
        <% for (var i=0; i < catagory.length ; i++) { %>
            <div>
                <form action="/DeleteCatagory/<%= catagory[i].Catagory %>" method="post">
                    <a class="" ><%=catagory[i].Catagory%></a>
                    <button type="submit">Delete</button> 
                </form>
            </div>
            
        <% } %>
        <form action="/AddCatagory" method="post">
            <input type="text" name="Catagory" placeholder="New Catagory">
            <button type="submit">Add</button>
        </form>
    </nav>



    <%- include('../Partials/Footer.ejs') %>
</body>
</html>